.h3-pad {
	padding-top: 30px;
	/*padding-bottom: 30px;*/
}

.content {
	/*padding-top:15px;*/
	padding-bottom:15px;
}

.alert {
	padding-top:15px;
}


.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40%;
		
	}

.im {
	padding-bottom: 15px;
	padding-top:25px;
}

